    body {
        /* background-color: red; */
        background-image: url(../img/slider/back01.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size:cover;
        -o-background-size: cover;
        background-attachment: fixed;
        font-family: 'Merienda', cursive;
    }

    .box {
        margin: 20px 0 20px;
        padding: 5px 5px;
        background: #fff;
        background: rgba(255,255,255,0.9);
        box-shadow: 5px 5px 5px black;
        border-radius: 3px;
    }

    /*navbar*/
    .navbar {
        background-color: red;
        /*font-family: cooper;*/
        font-size: 1.3rem;
    }
    
    .dropdown-menu {
        background-color: red;
    }

    /*carousel*/
    .carousel {
        padding-top: 10px;
    }

    /*section*/
    section {
        padding-top: 100px;
    }

    /* page header */
    .page-header {
        padding: 1rem 1rem 1rem 1rem;
    }

    /*fotos card*/
    .card {
        width: 16rem;
        padding: 1rem 1rem 1rem 1rem;
    }

    /* mapa */
    iframe {
        width: 100%;
        height: 450px;
        border: 0px;
    }

    .footer {
        padding: 1em 0rem 1rem 0rem;
    }

@media (min-width: 992px){
    /* body {
         background-color: yellow; 
        background-image: url(../img/slider/back01.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        font-family: 'Merienda', cursive;
    } */
    
    /* logomarca */
    .brand {
        background-color: red;
        text-align: center;
        padding: 10px 0px 10px 0px;
        display: block;
        }
    li {
        padding: 0px 20px 0px 20px;;
        }
    }


